@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="eztechMovieTitle">
        <h1 id="title">Welcome to EZTechMovie</h1>
        <p class="lead">Your Ultimate Destination for Streaming and Enjoying Movies!</p>
        <p><a href="/Movies" class="btn btn-primary btn-md">Explore Our Movie Collection &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="streamingPlansTitle">
            <h2 id="streamingPlansTitle">Streaming Plans</h2>
            <p>
                Choose from our flexible streaming plans that let you enjoy movies on your terms. Whether you're a solo viewer or a family of movie lovers, we have the perfect plan for you.
            </p>
            <p><a class="btn btn-outline-dark" href="/StreamingPlans">See Our Plans &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="dvdPlansTitle">
            <h2 id="dvdPlansTitle">DVD Plans</h2>
            <p>Prefer physical DVDs? Explore our DVD plans that offer convenient rentals and no late fees. Enjoy watching movies at your own pace.</p>
            <p><a class="btn btn-outline-dark" href="/DVDPlans">Discover DVD Plans &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="membershipTitle">
            <h2 id="membershipTitle">Become a Member</h2>
            <p>Join the EZTechMovie community today! Sign up to access our vast movie library, manage your account, and enjoy a seamless movie streaming experience.</p>
            <p><a class="btn btn-outline-dark" href="/Customers">Join Us Now &raquo;</a></p>
        </section>
    </div>
</main>
